:root {
	--icon-color : rgb(116, 204, 239);
}
body {
  font-family: 'Open Sans', sans-serif;
  background: #ecf5ee;
  color: #000;
}
#navbar-main {
  background: #fff;
}
.navbar-brand img {
  height: 45px;
}
.navbar-light .navbar-nav .nav-link {
  font-size: 14px;
  color: #000;
  opacity: 0.7;
}
.navbar-nav .nav-link i {
  margin-right: 0;
}
.nav-item.active,
.card i,
.navbar-transparent .navbar-nav .show > .nav-link, 
.navbar-transparent .navbar-nav .active > .nav-link, 
.navbar-transparent .navbar-nav .nav-link.show, 
.navbar-transparent .navbar-nav .nav-link.active, 
.navbar-nav .active .nav-link .nav-link-inner--text,
.nav-tabs .nav-link.active, 
.nav-tabs .nav-item.show .nav-link,
.createaccount-div a {
  color: #01a38c;
}
.nav-tabs .nav-link.active {
  height: 100%;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: #000;
  opacity: 0.7;
  font-weight: 700;
}
#welcome-div {
  margin-top: 50px;
  margin-left: 15px;
  margin-right: 15px;
}
#welcome {
  width: 35%;
  float: left;
  font-size: 20px;
  font-weight: bold;
}
.nav-tabs .nav-link {
  color: #000;
  font-weight: 600;
  padding: 40px 60px;
  text-align: center;
  background: #f3f4f4;
}
.nav-tabs {
  border-bottom: none;
  margin-right: 60px;
}
.nav-tabs .nav-item {
  width: 50%;
}
.tab-content {
  background: #fff;
  margin-right: 60px;
  padding-top: 60px;
  padding-bottom: 20px;
}
.tab-content .tab-pane {
  padding-left: 25px;
  padding-right: 25px;
}
.eligibility {
  margin-bottom: 25px;
  color: #000;
}
.btn.btn-apply {
  background: #01a38c;
  color: #fff!important;
  text-transform: capitalize;
  border-radius: 0;
  padding: 10px 50px;
  margin-top: 30px;
}

/* apply.html */
#startup-div{
  background: #fff;
  padding: 6px 40px;
  padding-bottom: 1px;
  border-left: 5px solid #01a38c;
  border-radius: 4px;
}
#startup-div p {
  margin-bottom: 6px;
  font-weight: 600;
}
#newapp-div {
  margin-right: 60px;
}
.btn.btn-apply.btn-new {
  margin-top: 0;
  padding: 10px 35px;
}
.clear {
  clear: both;
  padding-top: 50px;
}
.card {
  margin-top: 10px;
}
.card-header,
.card-footer {
  background: #fff;
  color: #000;
}
.card-header p {
  font-weight: 400;
}
.card-header h5 {
  font-weight: 500;
}
.card-body {
  background: #01a38c;
  color: #fff;
} 
.card-body h3 {
  color: #fff;
  margin-bottom: -5px;
}
.review-div {
  margin-right: 35px;
}
.card-footer p {
  font-size: 11px;
  margin-bottom: 0;
}
.last-edited {
  color: rgba(0, 0, 0, 0.5);
}
.clearfooter {
  clear: both;
  padding-top: 20px;
}
.modal-title {
  color: #000;
}
.modal label,
.logindiv label {
  margin-top: 10px;
  font-size: 12px;
}
.modal-header {
  border-bottom: 0;
}
.modal textarea {
  height: 150px;
}
.btn.btn-apply.btn-cancel {
  background: #fff;
  color: #01a38c !important;
  border-color: #01a38c;
}


/*authentication pages */
.login-div {
  background: url(./../../assets/img/deploy.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
  height: 750px;
  margin-top: -50px;
  margin-bottom: -20px;
}
.logindiv {
  width: 70%;
  margin: 0 auto;
  background: #fff;
  padding: 60px 40px;
  margin-top: 75px;
}
.createaccount-div {
  clear: both;
  padding-top: 70px;
}
.createaccount-div a,
.createaccount-div button,
.createaccount-div p {
  font-size: 12px;
}
.carousel {
  top: 50%;
  text-align: center;
}
.carousel-indicators {
  bottom: -25%;
}
.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #01a38c;
}
.carousel-indicators .active {
  border: 1px solid #fff;
}
.carousel p {
  color: #fff;
  font-size: 25px;
}
.calendar {
  position: absolute;
  right: 30px;
  margin-top: 15px;
  z-index: 1;
}
.ml-60 {
  margin-left: 60px;
}
.mb-20 {
  margin-bottom: 20px;
}



@media screen and (min-width: 980px) {
  #welcome-div {
    margin-left: 30px;
    margin-right: 30px;
  }
}
@media screen and (max-width: 550px) {
  .navbar-brand img {
    height: 25px;
  }
  .nav-tabs .nav-item {
    width: 100%;
  }
  .ml-60 {
    margin-left: 0;
  }
}
@media screen and (max-width: 768px) {
  .logindiv {
    width: 100%;
    height: 100%;
  }
  .nav-tabs .nav-item {
    width: 100%;
  }
  .calendar {
    margin-top: -48px;
  }
  #newapp-div {
    margin-right: 25px;
  }
  .login-div {
    height: auto;
    padding-bottom: 90px;
  }
}


















